@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
  scroll-behavior: smooth;

}
@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#C62828];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#a21a1a];
}
.perspective {
  perspective: 1200px;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0) rotateX(25deg) rotateY(-20deg);
  }
  50% {
    transform: translateY(-10px) rotateX(25deg) rotateY(-20deg);
  }
}
